body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
}

.game-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.game-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}

.reviews {
    margin-bottom: 20px;
}

.review {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}

.review-form {
    margin-top: 20px;
}

.name-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.rating {
    margin-bottom: 10px;
}

.star {
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
    color: gray; /* Default color for unselected stars */
}

.star.selected {
    color: gold; /* Color for selected stars */
}

.review-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
