body {
  font-family: "Ubuntu", sans-serif;
  background: black(124, 178, 133);
  color: white;
  background-color: black;
}

header {
  background: rgb(17, 17, 17);
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 1000;
}

p {
  text-align: center;
  font-size: 25px;
  color: white;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(25, 0, 255);
  padding: 10px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 5px solid rgb(25, 0, 255);
  padding: 10px;
  text-align: center;
}
